{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head lang="en">
        <title>Profile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <link rel="stylesheet" href="{% static 'assets/css/profile.css'%}">
    </head>
    <body>
        <main id="profile">
            <header class="profile__header">
                <div class="profile__column">
                    <img style="height: 100px; width:100px;" src="https://www.w3schools.com/images/lamp.jpg">
                    
                </div>
                <div class="profile__column">
                    <div class="profile__title">
                        <h3 class="profile__username">{{user.username}} ({{user.first_name}}{{user.last_name}})</h3>
                        <a href="edit">Edit profile</a>
                        <i class="fa fa-cog fa-lg"></i>
                    </div>
                    <ul class="profile__stats">
                        <li class="profile__stat">
                            <span class="stat__number">333</span> posts
                        </li>
                        <li class="profile__stat">
                            <span class="stat__number">1234</span> followers
                        </li>
                        <li class="profile__stat">
                            <span class="stat__number">36</span> following
                        </li>
                    </ul>
                </div>
            </header>
            
            <section style="border-top: 2px solid black;" class="profile__photos">
                {% for posts in pos %}
                <div class="profile__photo">
                    <img src="{{posts.img.url}}" />
                    <div class="profile__photo-overlay">
                        <span class="overlay__item">
                            <i class="fa fa-heart"></i>
                            {{posts.likes}}
                        </span>
                    </div>
                </div>
                {% endfor %}
                </section>
               
    </body>
    </html>